/* =============================================================================
Custom colors
========================================================================== */

html {
    color: $headings-color;
}

#{headings()} {
    color: $font-color;
}

a {
    color: $link-color;
    &:hover,
    &:active {
        outline: 0;
    }
    &:focus {
        outline: thin dotted;
    }
}